body {
    padding-top: 3%;
    background-color: black;
}

.footer {
    padding-top: 2%;
    padding-bottom: 3%;
    text-align: center;
    line-break: strict;
}

.center {
    text-align: center;
}

p, h1, h2, h5 {
    color: white;
    font-family: "Century Gothic", century-gothic, sans-serif;
}

.social {
    text-align: center;
}

.social circle {
    fill: black;
    transition-property: fill;
    transition-duration: 0.25s;
}

.social circle:hover {
    fill: white;
}

.social circle ~ .social-logo {
    color: white;
    transition-property: color;
    transition-duration: 0.25s;
    pointer-events: none;
}

.social circle:hover ~ .social-logo {
    color: black;
}
    

@keyframes rainbow {
    0% {color: red}
    17% {color: orange}
    34% {color: yellow}
    51% {color: green}
    68% {color: blue}
    85% {color: purple}
    100% {color: red}
 }

.rainbow {
    animation-name: rainbow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}